<mat-card class="todo-item-block" *ngIf="item">
  <div class="row">
    <div class="col-12">
      <mat-checkbox (change)="item.isCompleted = $event.checked" [ngClass]="item.isCompleted ? 'todo-completed': 'todo-new'">
        <span>{{item.task}}</span>
      </mat-checkbox>

      <div class="float-right">
        <span class="badge todo-badge" [ngClass]="item.isCompleted ? 'badge-success': 'badge-warning'">
          {{item.isCompleted ? 'Completed': 'Pending'}}
        </span>
        <div class="todo-delete-block">
          <a href="" (click)="onRemove($event)"><i class="fa fa-times"></i></a>
        </div>
      </div>
    </div>
  </div>
</mat-card>