<mat-card class="todo-add-block">
  <div class="row">
    <div class="col-12">
      <form class="form-horizontal todo-form" [formGroup]="todoAddForm" (ngSubmit)="onTodoSubmit(todoAddForm, todoAddForm.value)">
        <div class="input-group">
          <div class="todo-input-block">
            <mat-form-field class="todo-form-field">
              <input matInput placeholder="Task" formControlName="task">
            </mat-form-field>
          </div>
          <div class="todo-btn-block">
            <button mat-raised-button color="primary" type="submit" class="bcc-btn">
              <span mat-line>Add</span>
            </button>
          </div>
       </div>
      </form>
    </div>
  </div>
</mat-card>
